//body {
//    background-color: lightgray;
//}


// assets/css/global.scss



// customize some Bootstrap variables


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Lobster', cursive;
}

.navbar-light {
  background-color: #FFEBF8;
  color: #72231A;
}

.navbar-light .navbar-nav .active .nav-link {
  color: #72231A;
  font-size: 20px;
}

.login {
  position: absolute;
  top : 5px;
  right: 5px;
}

.form-inline .form-control {
  width: 50%;
  border-color: #FFD2F0;
}

.form-inline .btn-outline-success {
  border-color: #FFD2F0;
  color: #FFD2F0 ;
}

.btn-outline-success:hover{
  background-color: #FFD2F0;
  color: #FFFFFF;
}

.form-inline {
  margin-left: 25%;
  margin-top: 20px !important;
}

.card{
  margin: 25px 20px;
}

.recipe-title {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #72231A;

  &:hover{
    text-decoration: none;
    color: #72231A;
  }
}

@media screen and (min-width: 992px) {
  .navbar-light .navbar-nav .active .nav-link {
    font-size: 35px;
  }

  #navbarSupportedContent {
  position: absolute;
  right: 0px;
  }
}